---
title: Home
page-class: home
_options:
  layout: app/layouts/main.static.hbs
---
<section>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <form>
          <div class="form-element question-one-container">
            <h3>Question 1</h3>
            <select class="question-one"></select>
          </div>
          <div class="form-element question-two-container">
            <h3>Question 2</h3>
            <select class="question-two"></select>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="beer-card-container light-gray-background">
  <div class="container">
    <div class="beer-list" class="row">


      <div class="three columns md-break flip-container"><div class="flipper"><div class="front"><img class="logo" src="/images/default-label.png"><h3 class="name">"633" American Pale Alet</h3><p class="available">Availability: <span class="bold">Year Round</span></p><p class="abv">ABV: <span class="bold">6.33</span></p><p class="ibu">IBU: <span class="bold">25</span></p></div><div class="back"><h5 class="glass">Serving: null</h5><h5 class="description">Our first beer has been aptly named "633" after the Regions telephone exchange for starters.  "If I could call a beer home, this would be the one." ~ Win

It is a mildly hoppy pale ale using a 2 row, vienna, and munich malts for body,color, and head retention. It is hopped with American west coast hops later in the boil giving it a nice citrus hop flavor and very mild aroma. Slight addition of a roasted caramel malt gives "633" it's signature 'sunset over the harbor glow'.</h5></div></div></div>

      <div class="three columns md-break flip-container">
        <div class="flipper">
          <div class="front">
            <img class="logo" src="https://s3.amazonaws.com/brewerydbapi/beer/AXMzhl/upload_Hi8HVY-medium.png"/>
            <h3 class="name">1659 Irish Dry Stout</h3>
            <p class="available">Availability: <span class="bold">Seasonal</span></p>
            <p class="abv">ABV: <span class="bold">4.8</span></p>
            <p class="ibu">IBU: <span class="bold">4.8</span></p>
            <img class="flip-arrow" src="/images/flip-arrow.png">
          </div>
          <div class="back">
            <h5 class="glass">Serving: Serve in a Pint</h5>
            <h5 class="description">Irish Dry Stout. Brewed with Irish Stout Malt from the Malting Company of Ireland, Simpsons DRC™ and Crisp Roasted Barley. Sessionable Stout for St. Patrick’s Day!</h5>
                      <img class="flip-arrow" src="/images/flip-arrow.png">
          </div>
        </div>
      </div>



    </div>
  </div>
</section>
