---
title: Home
page-class: home
_options:
  layout: app/layouts/main.static.hbs
  partials:
    - app/partials/loader.static.hbs
---
<section>
  <div class="container-condensed">
    <div class="row">
      <div class="twelve columns">
        <form>
          <div class="form-element question-one-container">
            <h3 class="question-lable">Choose a style of beer</h3>
            <select class="question-one"></select>
          </div>
          <div class="form-element question-two-container">
            <h3 class="question-lable">Refine your decision</h3>
            <select class="question-two"></select>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="beer-card-container light-gray-background">
  <div class="container">
    {{>loader}}
    <div class="beer-list" class="row"></div>
    <div class="twelve columns pagination"></div>
  </div>
</section>
