---
title: Home
page-class: home
_options:
  layout: app/layouts/main.static.hbs
---
<section>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <form>
          <div class="form-element question-one-container">
            <h3>Question 1</h3>
            <select class="question-one"></select>
          </div>
          <div class="form-element question-two-container">
            <h3>Question 2</h3>
            <select class="question-two"></select>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="beer-card-container light-gray-background">
  <div class="container">
    <div class="beer-list" class="row">
    </div>
  </div>
</section>
