---
title: Home
page-class: home
_options:
  layout: app/layouts/main.static.hbs
---
<section>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <form>
          <div class="form-element">
            <label>Beer</label>
            <input type="text" placeholder="Beer"></input>
          </div>
          <div class="form-element">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
